<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crie seu Time de Genshin Impact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <header>
            <h1>Recomendação de Times</h1>
            <p>Escolha 1 ou mais characters e te recomendaremos um time forte!</p>
        </header>

        <div>
            <form id="team-form" method="POST">
                <div class="team-selection">
                    <div class="role">
                        <label for="character">Personagem 1:</label>
                        <div class="custom-select" id="character">
                            <div class="option" data-value="" disabled selected></div>
                            {% for character in characters %}
                                <div class="option" data-value="{{ character }}">
                                    <img src="{{ characters[character] }}" alt="{{ character }}" class="character-img">
                                    {{ character }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="role">
                        <label for="character1">Personagem 2:</label>
                        <div class="custom-select" id="character1">
                            <div class="option" data-value="" disabled selected></div>
                            {% for character in characters %}
                                <div class="option" data-value="{{ character }}">
                                    <img src="{{ characters[character] }}" alt="{{ character }}" class="character-img">
                                    {{ character }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="role">
                        <label for="character2">Personagem 3:</label>
                        <div class="custom-select" id="character2">
                            <div class="option" data-value="" disabled selected></div>
                            {% for character in characters %}
                                <div class="option" data-value="{{ character }}">
                                    <img src="{{ characters[character] }}" alt="{{ character }}" class="character-img">
                                    {{ character }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                <button type="submit" id="submit-button">Enter</button>
            </form>
        </div>

        <h2 id="recommended-teams-title" class="recommended-title">Times Recomendados</h2>

        <div id="team-display" class="team-container"></div>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>
